<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='login.css') }}" />
</head>
<body>
    {% if error_message %}
<div class="alert alert-danger">{{ error_message }}</div>
{% endif %}

<div class="registration-container">
    <h1>Login</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form>
 <p>Dont have an account? <a href="/register">Register</a></p>
</div>
</body>
</html>
